.h-100vh-100 {
  height: calc(100vh - 100px);
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.border-0 {
  border-radius: 0 !important;
}

.action-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fs-13 {
  font-size: 13px;
  color: #555;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px;
}

.form-control:focus {
  box-shadow: none !important;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.table-snackbar {
  background-color: #f4f6f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background: #f4f6f8;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  td {
    color: #000;
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}

.mat-dialog-container {
  padding: 0 !important;
  box-shadow: none !important;
  background-color: transparent;
}

.table-container {
  max-height: 480px;
  overflow: auto;
  top: -15px;
  position: relative;

  th.mat-header-cell {
    font-weight: bold;
  }

  th.mat-header-cell,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0 16px;
    font-size: 13px !important;
    min-width: 150px;
  }
}

.active {
  border-left: 4px solid #3f51b5;
}

.card-header-primary {
  background-color: #3f51b5;
}

textarea {
  font-size: 24px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3f51b5;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5;
}

.btn-mw-120 {
  width: 150px !important;
  min-width: 150px !important;
}